# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Chroma database
chroma_langchain_db/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
# Chroma v2 + temp files
chroma_v2_db/
enrich_cache*.jsonl
products_enriched_mixed.csv
